In [2]:
d=10

In [3]:
d

10

In [54]:
emp={'name':['madgav','keshav','sonali'],
    'id':[101,102,103],
    'age':[23,33,44]}

In [13]:
emp

{'name': ['madgav', 'keshav', 'sonali'],
 'id': [101, 102, 103],
 'age': [23, 33, 44]}

In [14]:
import pandas as pd

In [15]:
pd.DataFrame(emp)

     name   id  age
0  madgav  101   23
1  keshav  102   33
2  sonali  103   44

In [16]:
d

10

In [20]:
emp.values()

dict_values([['madgav', 'keshav', 'sonali'], [101, 102, 103], [23, 33, 44]])

In [23]:
emp.keys()

dict_keys(['name', 'id', 'age'])

In [24]:
emp.items()

dict_items([('name', ['madgav', 'keshav', 'sonali']), ('id', [101, 102, 103]), ('age', [23, 33, 44])])

In [25]:
emp

{'name': ['madgav', 'keshav', 'sonali'],
 'id': [101, 102, 103],
 'age': [23, 33, 44]}

In [27]:
emp.popitem()

('age', [23, 33, 44])

In [30]:
emp.pop('id')

[101, 102, 103]

In [31]:
emp

{'name': ['madgav', 'keshav', 'sonali']}

In [38]:
emp['name'][0]='jkfgkjg'

In [39]:
emp.

{'name': ['jkfgkjg', 'keshav', 'sonali']}

In [40]:
a=('name','age','city','aadhar')

In [43]:
a=dict.fromkeys(a)

In [44]:
a[]

{'name': None, 'age': None, 'city': None, 'aadhar': None}

In [45]:
a

{'name': None, 'age': None, 'city': None, 'aadhar': None}

In [48]:
a['name']='dfg'

In [49]:
a

{'name': 'dfg', 'age': None, 'city': None, 'aadhar': None}

In [50]:
a['name']

'dfg'

In [52]:
a.get('namefd')

In [53]:
a

{'name': 'dfg', 'age': None, 'city': None, 'aadhar': None}

In [55]:
emp

{'name': ['madgav', 'keshav', 'sonali'],
 'id': [101, 102, 103],
 'age': [23, 33, 44]}

In [61]:
emp['name'][2]="RRR"

In [66]:
emp.get('age')[1]=4554

In [67]:
emp

{'name': ['madgav', 'keshav', 'RRR'],
 'id': [101, 102, 103],
 'age': [23, 4554, 44]}

In [69]:
emp.get('name','not available')

['madgav', 'keshav', 'RRR']

In [77]:
emp['city']=['pune','mumbai','nasik']

In [81]:
emp.popitem()

(('city', 'add'), ['pune', 'mumbai', 'nasik'])

In [82]:
emp

{'name': ['madgav', 'keshav', 'RRR'],
 'id': [101, 102, 103],
 'age': [23, 4554, 44],
 'city': ['pune', 'mumbai', 'nasik']}

In [91]:
emp['designation123']={'helper','tech','plumber'}

In [92]:
emp

{'name': ['madgav', 'keshav', 'RRR'],
 'id': [101, 102, 103],
 'age': [23, 4554, 44],
 'city': ['pune', 'mumbai', 'nasik'],
 'designation': ('helper', 'tech', 'plumber'),
 'designation123': {'helper', 'plumber', 'tech'}}

In [94]:
emp['designation123'][1]='incharge'

TypeError: 'set' object does not support item assignment

In [95]:
car_details={'color':['red','yellow','white']}

In [96]:
car_details

{'color': ['red', 'yellow', 'white']}

In [97]:
car_details.update({'name':['Audi','BMW','BENZ'],'price':[1223,3445,5667]})

In [98]:
car_details

{'color': ['red', 'yellow', 'white'],
 'name': ['Audi', 'BMW', 'BENZ'],
 'price': [1223, 3445, 5667]}

In [100]:
car_details.setdefault('version',['v1','v2','v3'])

['v1', 'v2', 'v3']

In [101]:
car_details

{'color': ['red', 'yellow', 'white'],
 'name': ['Audi', 'BMW', 'BENZ'],
 'price': [1223, 3445, 5667],
 'version': ['v1', 'v2', 'v3']}

In [104]:
d=['name','age,''city']

In [107]:
p=dict.fromkeys(d,100)

In [110]:
p['name']='keshav'

In [111]:
p

{'name': 'keshav', 'age,city': 100}

In [119]:
a=int(input())

5665

In [120]:
a

5665

In [123]:
s ="""duga
     hi
    kya chal ra"""

In [124]:
s

'duga\n     hi\n    kya chal ra'

In [125]:
s="this is a python string practice:"

In [126]:
s.capitalize()

'This is a python string practice:'

In [127]:
s.title()

'This Is A Python String Practice:'

In [128]:
s.upper()

'THIS IS A PYTHON STRING PRACTICE:'

In [129]:
s.lower()

'this is a python string practice:'

In [131]:
s1 ="ThisISaAtemptTOgetREdemption"

In [135]:
s1.swapcase(
)

'tHISisAaTEMPTtoGETreDEMPTION'

In [138]:
s1.count('t')

4

In [143]:
s1.index('lkjdfs')

ValueError: substring not found

In [152]:
email=['admin@gmail.com','test@yahoo.com','jkgfd','temp@gmail.com']

In [153]:
for i in email:
    if i.endswith('.com'):
        print("valid")
    else:
        print("Invalid")

valid
valid
Invalid
valid

In [154]:
for i in email:
    if i.startswith('t'):
        print("valid")
    else:
        print("Invalid")

Invalid
valid
Invalid
valid

In [155]:
email

['admin@gmail.com', 'test@yahoo.com', 'jkgfd', 'temp@gmail.com']

In [157]:
email

['admin@gmail.com', 'test@yahoo.com', 'jkgfd', 'temp@gmail.com']

In [158]:
t='admin@gmail.com'

In [159]:
t.split('@')

['admin', 'gmail.com']

In [165]:
k=[]
for i in email:
    if i.endswith('.com'):
        i.split('@')
        k=i.append(i)

AttributeError: 'str' object has no attribute 'append'

In [166]:
 a=10

In [167]:
type(a)

int

In [169]:
a=str(a)

In [170]:
a

'10'

In [173]:
a=str(a='10')

TypeError: 'a' is an invalid keyword argument for str()

In [174]:
a

'10'

In [176]:
a=int(a)

In [177]:
a

10

In [184]:
p1=[1,3,4]

In [185]:
temp=tuple(p1)

In [187]:
p1

[1, 3, 4]

In [188]:
temp

(1, 3, 4)